
//** estilos para el menu de opciones del modal ************
.contenedor-menu-modal {
    ul {
        li {
            border-radius: 6px !important;
            box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3) !important;
            button {
                /* background: #fff !important; */
            }
        }
    }
}

//** estilos para el campo de buscar producto a la hora de abrir el modal

/* estilos de la tabla modal */

col.col11 {
    width: 15%;
}

col.col12 {
    width: 45%;
}

col.col13 {
    width: 15%;
}

col.col14 {
    width: 10%;
}

col.col15 {
    width: 15%;
}

.contenedor-input-seleccionar-producto {
    ul {
        list-style: none;
        z-index: 100;
        position: absolute;
        background: rgba($color: #000, $alpha: .8);
        width: 90%;
        padding: 15px;
        border-radius: 15px;
        height: 200px;
        overflow: auto;
        li {
            color: #fff;
        }
    }

}

/* estilos del contenedor de tabla */

.contenedor-tabla {
    position: relative;
}
        
    

  



//* CODIGO DEL MODAL NORMAL 
table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

col.col1 {
    width: 13%;
}

col.col2 {
    width: 8%;
}

col.col3 {
    width: 10%;
}

col.col4 {
    width: 15%;
}

col.col5 {
    width: 35%;
}

col.col6 {
    width: 10%;
}

col.col7 {
    width: 10%;
}


/* estilos de la tabla modal */

col.col11 {
    width: 15%;
}

col.col12 {
    width: 45%;
}

col.col13 {
    width: 15%;
}

col.col14 {
    width: 10%;
}

col.col15 {
    width: 15%;
}

ul {
    list-style: none;
    z-index: 100;
    position: absolute;
    background: rgba($color: #000, $alpha: .8);
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    height: 200px;
    overflow: auto;
    li {
        color: #fff;
    }
}


/* estilos del contenedor de tabla */

.contenedor-tabla {
    position: relative;
}



.custom-modal {
    z-index: 1000000;
    background: #000; /* Ajusta el valor según sea necesario */
  }


