.modal-header {
    text-align: center;
    border-bottom: none;
}

.modal-header h4 {
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.modal-body label {
    font-weight: 600;
}

.modal-footer {
    border-top: none;
}

tr:hover {
    cursor: pointer;
}

input {
    border-radius: 20px;
}

input:focus {
    /* background: rgb(163, 161, 161); */
    border: 2px solid #0E8525;
}

//botones
.btn-cancelar-modal {
    border-radius: 20px;
    border: none;
    padding: 7px 15px;
}

.btn-guardar-modal {
    border-radius: 20px;
    border: none;
    padding: 7px 15px;
}

//* ********estilos para mostrar el texto al pasar el mouse sobre un boton **********