
//************* estilos para los inputs de tipo date *********************************
.contenedor-filtar-por-fecha {

    label {
        color: #565656;
        font-weight: 500;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        padding: 2px;
        cursor: pointer; 
      }
    
    input[type="date"] {
        box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3) !important;
        border-radius: 6px !important;
        color: #333;
        font-weight: 500;
      }
}

  
//************* estilos generales de los modales ***********************************

.modal-header {
    text-align: center;
    border-bottom: none;
    
}

.modal-header h4 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: #000;
}

.modal-body label {
    font-weight: 600;
    color: #000;
    .obligatorio {
        color: #dd1b16;
    }
    
}

.modal-footer {
    border-top: none;
}

tr:hover {
    cursor: pointer;
}

input {
    border-radius: 20px;
}

input:focus {
    /* background: rgb(163, 161, 161); */
    border: 2px solid #0E8525 !important;
}
select {
    border-radius: 20px;
}

select option {
    background: #343a40;
    color: #fff;
    border-radius: 20px !important;
}



//botones
.btn-cancelar-modal {
    border-radius: 20px;
    border: none;
    padding: 7px 15px;
}

.btn-guardar-modal {
    border-radius: 20px;
    border: none;
    padding: 7px 15px;
}


//** **************** estilos para el boton de opciones de imprimir *********************
.contenedor-general-btn-opciones {
    width: 100%;
    
    .contenedor-btn-opciones {
        margin:  auto;
        .btn-opciones {
            border: 1px solid #0E8525;
            box-shadow: 1px 1px 3px;
        }
        .contenedor-opciones {
            background: #343a40;
            box-shadow: 3px 3px 15px;
            a {
                color: #fff;
            }
            a:hover {
                background: #dd1b16;
            }
        }
    }
}

//***** estilos de las columnas de la vista de filas ********
.contenedor-tabla-lista {
    border-radius: 6px !important;
    
    table {
        width: 100%;
        table-layout: fixed;
        
        td {
            word-wrap: break-word;
        }
        col.col1 {
            width: 15%;
        }
        col.col2 {
            width: 15%;
        }
        col.col3 {
            width: 15%;
        }
        col.col4 {
            width: 15%;
        }
        col.col5 {
            width: 15%;
        }
        col.col6 {
            width: 15%;
        }
        col.col7 {
            width: 10%;
        }
    }
}

//******** estilos del buscador **************************


.buscador {
    border-radius: 6px !important;
    box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3) !important;
}

.buscador:focus {
    border: 2px solid #343a40 !important;
}

//* boton de busqueda api reniec
.btn-buscar-api {
    border-radius: 6px !important;
    box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3) !important;
    background: #fff;
    border: none;
}

.btn-buscar-api:hover {
    background: #343a40;
    color: #fff;
        i{
            color: #fff !important;
        }
}

.btn-buscar-api-cargar {
    border-radius: 6px !important;
    box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3) !important;
    background: #dd1b16;
    color: #fff;
    border: none;
}



//******* estilos de los botones superiores que estan al lado del buscador *******
.contenedor-botones-superior {
    .input-group-prepend {
        
        margin-left: 8px;
        border-radius: 6px;
        
        span {
            
            border-radius: 6px;
            background: #fff;
            
        }
        span:hover {
            background: #343a40;
            color: #fff;
            i{
                color: #fff !important;
            }
        }
    }
}


//* ********estilos para mostrar el texto al pasar el mouse sobre un boton **********
.mensaje {
    position: absolute;
    top: 130%;
    /* top: 100%;
    left: 50%; */
    transform: translateX(-20%);
    background-color: #343a40;
    color: #fff;
    padding: 6px;
    z-index: 999;
    border-radius: 6px;
    
  }



  //****** estilos de la paginación ************************
  .contenedor-general-paginacion {
    .contenedor-paginacion{
        .paginacion{
            border-radius: 6px;
            box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3);                                 
        }
    }
  }



  //! -*-*-*-*-*-*-*-*-*-*-*-*-*- estilos para las vistas de cuadros -*--------------------*-------------------------

  .contenedor-general-card {
    border-radius: 6px !important;
    /* background: #000; */
    box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3);
    .card-cabecera {
        border-radius: 6px 6px 0px 0px !important;
        background: #fff;
        text-align: center;
        /* border-bottom: 1px solid #343a40 !important; */
        h5 {
            color: #343a40;
        }
    }
    .card-cuerpo {
        background: #fff;
        border-radius: 6px;
        .media {
            .media-body {
                h6 {
                    font-weight: 400;
                }
            }
        }
    }
    .card-pie {
        background: #fff;
        border-radius: 6px;
        border-top: none;
        .contenedor-botones-card {
            .input-group-prepend {
        
                margin-left: 8px;
                border-radius: 6px;
                
                span {
                    
                    border-radius: 6px;
                    background: #fff;
                    
                }
                span:hover {
                    background: #343a40;
                    color: #fff;
                    i{
                        color: #fff !important;
                        
                    }
                }
            }
        }
    }
}

//** estilos para el menu de opciones del modal ************
.contenedor-menu-modal {
    ul {
        li {
            border-radius: 6px !important;
            box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3) !important;
            button {
                /* background: #fff !important; */
            }
        }
    }
}

//** estilos para el campo de buscar producto a la hora de abrir el modal

/* estilos de la tabla modal */

col.col11 {
    width: 15%;
}

col.col12 {
    width: 45%;
}

col.col13 {
    width: 15%;
}

col.col14 {
    width: 10%;
}

col.col15 {
    width: 15%;
}

.contenedor-input-seleccionar-producto {
    ul {
        list-style: none;
        z-index: 100;
        position: absolute;
        background: rgba($color: #000, $alpha: .8);
        width: 90%;
        padding: 10px;
        border-radius: 15px;
        height: 150px;
        overflow: auto;
        li {
            color: #fff;
            padding: 3px 5px;
        }
        li:hover {
            background: #dd1b16;
            border-radius: 15px;
        }
    }

}
.contenedor-input-seleccionar-cliente {
    ul {
        list-style: none;
        z-index: 100;
        position: absolute;
        background: rgba($color: #000, $alpha: .8);
        width: 90%;
        padding: 15px;
        border-radius: 10px;
        height: 100px;
        overflow: auto;
        li {
            color: #fff;
            padding: 3px 5px;
        }
        li:hover {
            background: #dd1b16;
            border-radius: 15px;
        }
    }

}

/* estilos del contenedor de tabla */

.contenedor-tabla {
    position: relative;
    height: 200px;
    overflow: auto;
}



//* ************* estilos del ico del modal agregar un cliente *****************
.contenedor-ico-buscar {
    
    span {
        border-radius: 6px !important;
        box-shadow: 0px 1px 4px 0px rgba(38, 38, 38, 0.3) !important;
        background: #fff;
        
        i{
            margin: 0 auto;
        }
    }
    span:hover {
        background: #343a40;
        color: #fff;
        i{
            color: #fff !important;

        }
    }
}
        
    

  