<div class="row mb-1">
    <div class="col">
        <!-- <div class="input-group mb-3 box-shadow"> -->
        <div class="input-group mb-3">
            
            <input type="text" [(ngModel)]="textoBusqueda" name="textoBusqueda" placeholder="Buscar por nombre" class="form-control border-0  buscador">
            <div class="input-group-append contenedor-botones-superior">
                <!-- <span class="agregar input-group-text border-top-0 border-right-0 border-bottom-0" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-plus"></i></span> -->
                
                <div class="input-group-prepend">
                    <span (mouseenter)="MensajeAgregar = true" (mouseleave)="MensajeAgregar = false" (click)="abrirModal(modalAgregar)" class="agregar input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-user-plus text-primary"></i></span>
                    <div class="mensaje" *ngIf="MensajeAgregar">
                        Agregar Cliente
                    </div>
                </div>
                <div class="input-group-prepend">
                    <span (mouseenter)="MensajeExportarExcel = true" (mouseleave)="MensajeExportarExcel = false" (click)="exportToExcels()" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-file-excel-o text-success"></i></span>
                    <div class="mensaje" *ngIf="MensajeExportarExcel">
                        Exportar Excel
                    </div>
                </div>
                <div class="input-group-prepend">
                    <span (mouseenter)="MensajeExportarPdf = true" (mouseleave)="MensajeExportarPdf = false" (click)="exportarPDF()" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-file-pdf-o text-danger"></i></span>               
                    <div class="mensaje" *ngIf="MensajeExportarPdf">
                        Exportar PDF
                    </div>
                </div>
                <div class="input-group-prepend">
                    <span (mouseenter)="MensajeVistaCuadros = true" (mouseleave)="MensajeVistaCuadros = false" (click)="toggle('grid')" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-th text-info"></i></span>                   
                    <div class="mensaje" *ngIf="MensajeVistaCuadros">
                        Vista en cuadros
                    </div>
                </div>
                              
                <div class="input-group-prepend">
                    <span (mouseenter)="MensajeVistaListas = true" (mouseleave)="MensajeVistaListas = false" (click)="toggle('list')" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-list"></i></span>
                    <div class="mensaje" *ngIf="MensajeVistaListas">
                      Vista en filas
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<!-- vista en cuadrillas -->
<div *ngIf="type=='grid'" class="row">
    <!-- <div *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: p }; let i = index;" class="col-xl-4 col-lg-6 mb-4"> -->
    <div *ngFor="let vehiculo of datos | clienteBuscar: textoBusqueda | paginate: { itemsPerPage: elementosPorPagina, currentPage: paginaActual } ; let i = index" class="col-xl-4 col-lg-6 mb-4 general">
        <div class="flip">
            <div class="content">
                <div class="front">
                    <div class="card border-0  rounded-10 contenedor-general-card">
                        <div class="card-header border-0 rounded-0 text-muted card-cabecera">
                            <h5 class="mb-0">
                                <!-- <i class="fa fa-user mr-2" placement="bottom"></i> -->
                                <i class="fa fa-user mr-2 text-success" placement="bottom"></i> {{vehiculo.nombre}}
                            </h5>
                        </div>
                        <div class="card-body pt-2 pb-2 card-cuerpo">
                            <div class="media">
                               
                                <div class="media-body ml-3">
                                    <div class="row">
                                        <div class="col col-12">
                                            <h6><strong>Tipo Documento :</strong>  {{vehiculo.tipoDocumento}}  </h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Número Documento :</strong> {{vehiculo.numeroDocumento}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Nombre :</strong> {{vehiculo.nombre}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Dirección :</strong> {{vehiculo.direccion}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Departamento :</strong> {{vehiculo.departamento}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Provincia :</strong> {{vehiculo.provincia}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Distrito :</strong> {{vehiculo.distrito}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Estado :</strong> {{vehiculo.activo}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Habido :</strong> {{vehiculo.habido}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Correo :</strong> {{vehiculo.correo}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Celular :</strong> {{vehiculo.celular}}</h6>
                                        </div>
                                        <div class="col col-12">
                                            <h6><strong>Nota :</strong> {{vehiculo.nota}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer card-pie">
                            
                            <div class="input-group-append contenedor-botones-card d-flex justify-content-center">
                                    <!-- <span class="agregar input-group-text border-top-0 border-right-0 border-bottom-0" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-plus"></i></span> -->
                                    
                                    <div class="input-group-prepend">
                                        <span (click)="abrirEditarModal(modalEditar, i)" class="agregar input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-pencil text-warning"></i></span>                           
                                    </div>
                                    <!-- <div class="input-group-prepend">
                                        <span (click)="imprimirA4(vehiculo)" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-file-pdf-o text-info"></i></span>                                
                                    </div>
                                    <div class="input-group-prepend">
                                        <span  (click)="imprimirTicket(vehiculo)" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-file-pdf-o text-primary"></i></span>                                                       
                                    </div> -->
                                    <div class="input-group-prepend">
                                        <span (click)="eliminarDato(i)" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-trash text-danger"></i></span>                   
                                    </div>                                                 
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>



<!-- listado de clientes -->

<div *ngIf="type=='list'" class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow contenedor-tabla-lista">
            <table class="table table-hover">
                <colgroup>
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                    <col class="col6">
                    
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center align-middle">TIPO DOCUMENTO</th>
                        <th class="text-center align-middle">NÚMERO</th>
                        <th class="text-center align-middle">NOMBRE</th>
                        <th class="text-center align-middle">DIRECCION</th>
                        <th class="text-center align-middle">CELULAR</th>
                        <th class="text-center align-middle">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of datos | clienteBuscar: textoBusqueda | paginate: { itemsPerPage: elementosPorPagina, currentPage: paginaActual } ; let i= index" (dblclick)="abrirEditarModal(modalEditar, i)">

                        <td class="align-middle text-truncate text-center"> {{cliente.tipoDocumento}}</td>
                        <td class="align-middle text-truncate text-center">{{cliente.numeroDocumento}}</td>
                        <td class="align-middle text-truncate text-center">{{cliente.nombre }}</td>
                        <td class="align-middle text-truncate text-center">{{cliente.direccion}}</td>
                        <td class="align-middle text-truncate text-center">{{cliente.celular}}</td>
                        
                        <div class="btn-group text-center contenedor-general-btn-opciones" role="group">
                            
                            <div class="input-group-prepend contenedor-btn-opciones">
                                <button class="btn btn-outline-success btn-opciones dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                                <div class="dropdown-menu contenedor-opciones">
                                    <!-- <a class="dropdown-item" (click)="imprimirA4(cliente)">Imprimir A4</a>
                                    <a class="dropdown-item" (click)="imprimirTicket(cliente)">Ticket</a> -->
                                    <a class="dropdown-item" (click)="abrirEditarModal(modalEditar, i)">Editar</a>
                                    <a class="dropdown-item" (click)="eliminarDato(i)">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mt-3 contenedor-general-paginacion">
    <div class="col-12 contenedor-paginacion">
        <div class="bg-white text-center paginacion">
            <pagination-controls (pageChange)="cambiarPagina($event)" [maxSize]="5" [directionLinks]="true" [autoHide]="true">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- arreglas los estilos y la opcion de modificar (editar al momento de presionar el boton del lapiz) -->


<!-- Modal Agregar -->
<ng-template #modalAgregar>
    <div class="contenedor-modal-agregar">
        <div class="modal-header text-center">
            <h4 class="modal-title text-center">AGREGAR</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="tab-content col-12 border-0">
                    <div class="tab-pane active" id="basic">
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label class="text-gray"> Tipo Documento </label>
                                <select [(ngModel)]="nuevoDato.tipoDocumento" name="tipoDocumento" id="tipoDocumento" class="form-control">
                                    <option value="DNI">DNI</option>
                                    <option value="RUC">RUC</option>
                                    <option value="Otro">Otro documento</option>
                                  </select>
                                <!-- <input name="nombre" id="nombre" [(ngModel)]="nuevoDato.nombre" class="form-control validation-field" type="text" autocomplete="off" required> -->
                            </div>
                            <div class="form-group col-md-5">
                                <label class="text-gray">Número</label>
                                <input name="numeroDocumento" id="numeroDocumento" [(ngModel)]="nuevoDato.numeroDocumento" class="form-control validation-field" type="number" autocomplete="off">
                            </div>
                            <div class="form-group col-md-2 contenedor-ico-buscar">
                                <label class="text-gray">Buscar</label>
                                <span (mouseenter)="MensajeBuscarCliente = true" (mouseleave)="MensajeBuscarCliente = false"  class="agregar input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-search text-primary"></i></span>
                                <div class="mensaje" *ngIf="MensajeBuscarCliente">
                                    Buscar Cliente
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="text-gray">Nombre</label>
                                <input name="nombre" id="nombre" [(ngModel)]="nuevoDato.nombre" class="form-control validation-field" type="text " autocomplete="off">
                            </div>                          
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="text-gray">Dirección</label>
                                <input name="direccion" id="direccion" [(ngModel)]="nuevoDato.direccion" class="form-control validation-field" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="text-gray">Departamento</label>
                                <select [(ngModel)]="nuevoDato.departamento" name="departamento" id="departamento" class="form-control">
                                    <option value="DNI">DNI</option>
                                    <option value="RUC">RUC</option>
                                    <option value="Otro">Otro documento</option>
                                  </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="text-gray">Provincia</label>
                                <select [(ngModel)]="nuevoDato.provincia" name="provincia" id="provincia" class="form-control">
                                    <option value="DNI">DNI</option>
                                    <option value="RUC">RUC</option>
                                    <option value="Otro">Otro documento</option>
                                  </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="text-gray">Distrito</label>
                                <select [(ngModel)]="nuevoDato.distrito" name="distrito" id="distrito" class="form-control">
                                    <option value="DNI">DNI</option>
                                    <option value="RUC">RUC</option>
                                    <option value="Otro">Otro documento</option>
                                  </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="text-gray">Activo</label>
                                <input name="activo" id="activo" [(ngModel)]="nuevoDato.activo" class="form-control validation-field" type="text" autocomplete="off" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="text-gray">Habido</label>
                                <input name="habido" id="habido" [(ngModel)]="nuevoDato.habido" class="form-control validation-field" type="text" autocomplete="off" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label class="text-gray">Correo</label>
                                <input name="correo" id="correo" [(ngModel)]="nuevoDato.correo" class="form-control validation-field" type="email" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="text-gray">Celular</label>
                                <input name="celular" id="celular" [(ngModel)]="nuevoDato.celular" class="form-control validation-field" type="number" autocomplete="off">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label class="text-gray">Nota</label>
                                <textarea name="nota" id="nota" [(ngModel)]="nuevoDato.nota" class="form-control validation-field" type="text" autocomplete="off"></textarea>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-cancelar-modal" (click)="cerrarModal()">Cancelar</button>
            <button type="button" class="btn btn-success btn-guardar-modal" (click)="agregarDato()">Guardar</button>
        </div>
    </div>
</ng-template>

<!-- Modal Editar -->
<ng-template #modalEditar>
    <div class="modal-header">
        <h4 class="modal-title">EDITAR</h4>

    </div>
    <div class="modal-body">
        <form>
            <div class="tab-content col-12 border-0">
                <div class="tab-pane active" id="basic">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label class="text-gray"> Tipo Documento </label>
                            <select [(ngModel)]="datoEditado.tipoDocumento" name="tipoDocumento" id="tipoDocumento" class="form-control">
                                <option value="DNI">DNI</option>
                                <option value="RUC">RUC</option>
                                <option value="Otro">Otro documento</option>
                              </select>
                            <!-- <input name="nombre" id="nombre" [(ngModel)]="nuevoDato.nombre" class="form-control validation-field" type="text" autocomplete="off" required> -->
                        </div>
                        <div class="form-group col-md-5">
                            <label class="text-gray">Número</label>
                            <input name="numeroDocumento" id="numeroDocumento" [(ngModel)]="datoEditado.numeroDocumento" class="form-control validation-field" type="number" autocomplete="off">
                        </div>
                        <div class="form-group col-md-2 contenedor-ico-buscar">
                            <label class="text-gray">Buscar</label>
                            <span (mouseenter)="MensajeBuscarCliente = true" (mouseleave)="MensajeBuscarCliente = false"  class="agregar input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-search text-primary"></i></span>
                            <div class="mensaje" *ngIf="MensajeBuscarCliente">
                                Buscar Cliente
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="text-gray">Nombre</label>
                            <input name="nombre" id="nombre" [(ngModel)]="datoEditado.nombre" class="form-control validation-field" type="text " autocomplete="off">
                        </div>                          
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="text-gray">Dirección</label>
                            <input name="direccion" id="direccion" [(ngModel)]="datoEditado.direccion" class="form-control validation-field" type="text" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label class="text-gray">Departamento</label>
                            <select [(ngModel)]="datoEditado.departamento" name="departamento" id="departamento" class="form-control">
                                <option value="DNI">DNI</option>
                                <option value="RUC">RUC</option>
                                <option value="Otro">Otro documento</option>
                              </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="text-gray">Provincia</label>
                            <select [(ngModel)]="datoEditado.provincia" name="provincia" id="provincia" class="form-control">
                                <option value="DNI">DNI</option>
                                <option value="RUC">RUC</option>
                                <option value="Otro">Otro documento</option>
                              </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="text-gray">Distrito</label>
                            <select [(ngModel)]="datoEditado.distrito" name="distrito" id="distrito" class="form-control">
                                <option value="DNI">DNI</option>
                                <option value="RUC">RUC</option>
                                <option value="Otro">Otro documento</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="text-gray">Activo</label>
                            <input name="activo" id="activo" [(ngModel)]="datoEditado.activo" class="form-control validation-field" type="text" autocomplete="off" readonly>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="text-gray">Habido</label>
                            <input name="habido" id="habido" [(ngModel)]="datoEditado.habido" class="form-control validation-field" type="text" autocomplete="off" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="text-gray">Correo</label>
                            <input name="correo" id="correo" [(ngModel)]="datoEditado.correo" class="form-control validation-field" type="email" autocomplete="off">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="text-gray">Celular</label>
                            <input name="celular" id="celular" [(ngModel)]="datoEditado.celular" class="form-control validation-field" type="number" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="text-gray">Nota</label>
                            <textarea name="nota" id="nota" [(ngModel)]="datoEditado.nota" class="form-control validation-field" type="text" autocomplete="off"></textarea>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-cancelar-modal" (click)="cerrarModal()">Cancelar</button>
        <button type="button" class="btn btn-warning btn-guardar-modal" (click)="editarDato()">Editar</button>
    </div>
</ng-template>