<div class="row mb-1">
    <div class="col">
        <div class="input-group mb-3 box-shadow">
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" [(ngModel)]="searchText" placeholder="Search user by name..." class="form-control border-0">
            <div class="input-group-append">
                <span (click)="openModal(modalContent, null)" class="agregar input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-user-plus"></i></span>
                <span (click)="toggle('grid')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-th"></i></span>
                <span (click)="toggle('list')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-list"></i></span>
            </div>
        </div>
    </div>
</div>




<ng-template #modalContent>


    <div class="modal-body ">

        <!-- <div class="modal-body bg-gray"> -->
        <div class="row">
            <div class="col-12 vertical-tabs">
                <!-- <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="row px-3"> -->
                <!-- <div>
                    <h2>Clientes</h2>
                </div>
                <hr> -->
                <form class="row px-3">
                    <div class="tab-content col-12 border-0">
                        <div class="tab-pane active" id="basic">

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label text-gray">Tipo de Documento</label>
                                    <select formControlName="tipoDocumento" class="form-control">
                                        <option>DNI</option>
                                        <option>RUC</option>
                                        <option>Pasaporte</option>
                                        <option>Otro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="text-gray">Número:</label>
                                    <input formControlName="numeroDocumento" class="form-control validation-field" type="number">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-gray">Nombre/Razón social</label>
                                <input formControlName="razonSocial" class="form-control validation-field" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Dirección</label>
                                <input formControlName="direccion" class="form-control validation-field" type="text">
                            </div>


                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="form-control-label text-gray">Departamento</label>
                                    <select formControlName="departamento" class="form-control">
                                        <option>Arkansas</option>
                                        <option>Texas</option>
                                        <option>California</option>
                                        <option>Florida</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label text-gray">Provincia</label>
                                    <select formControlName="provincia" class="form-control">
                                        <option>Arkansas</option>
                                        <option>Texas</option>
                                        <option>California</option>
                                        <option>Florida</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label text-gray">Distrito</label>
                                    <select formControlName="distrito" class="form-control">
                                        <option>Arkansas</option>
                                        <option>Texas</option>
                                        <option>California</option>
                                        <option>Florida</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="text-gray">Correo:</label>
                                    <input formControlName="correo" class="form-control validation-field" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="text-gray">Celular:</label>
                                    <input formControlName="celular" class="form-control validation-field" type="number">
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="form-control-label">Nota</label>
                                <textarea formControlName="address" class="form-control"></textarea>
                            </div>

                        </div>

                        <!-- ==================================== vista de perfil de usuario ==================================== -->

                        <div class="tab-pane" id="personal" formGroupName="profile">

                            <!-- agrendo campos de tipo de documento -->
                            <div class="form-group">
                                <label class="text-gray">Tipo de Documento:</label>
                                <select formControlName="tipo-documento" class="form-control">
                                    <option>DNI</option>
                                    <option>RUC</option>
                                    <option>PASAPORTE</option>
                                    <option>OTRO DOC.</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="text-gray">Número:</label>
                                <input formControlName="numero-documento" class="form-control" type="number">
                            </div>

                            <div class="form-group">
                                <label class="text-gray">Nombre:</label>
                                <input formControlName="name" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Apellidos:</label>
                                <input formControlName="surname" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Cumpleaños</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="birthday" ngbDatepicker #birthdayDp="ngbDatepicker">
                                    <div class="input-group-append" (click)="birthdayDp.toggle()">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-gray">Imagen</label>
                                <input formControlName="image" class="form-control" type="text">
                            </div>
                        </div>

                        <!-- ==================================== vista de Trabajo de usuario ==================================== -->

                        <div class="tab-pane" id="work" formGroupName="work">
                            <div class="form-group">
                                <label class="text-gray">Compañia</label>
                                <input formControlName="company" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Puesto</label>
                                <input formControlName="position" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Salario</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input formControlName="salary" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Fecha Ingreso</label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="fechaIngreso" formControlName="fechaIngreso" type="date">
                                    <!-- <div class="input-group-append">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <!-- ==================================== vista de contacto de usuario ==================================== -->

                        <div class="tab-pane" id="contacts" formGroupName="contacts">
                            <div class="form-group">
                                <label class="text-gray">Correo:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                                    </div>
                                    <input formControlName="email" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Celular:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                    </div>
                                    <input formControlName="phone" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Dirección</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                                    </div>
                                    <input formControlName="address" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- ==================================== vista de redes sociales de usuario ==================================== -->

                        <div class="tab-pane" id="social" formGroupName="social">
                            <div class="form-group">
                                <label class="text-gray">Facebook</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-facebook"></i></span>
                                    </div>
                                    <input formControlName="facebook" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Twitter</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-twitter"></i></span>
                                    </div>
                                    <input formControlName="twitter" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Google</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-google"></i></span>
                                    </div>
                                    <input formControlName="google" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- ==================================== vista de configuraciones de usuario ==================================== -->

                        <div class="tab-pane" id="settings" formGroupName="settings">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxActive" formControlName="isActive">
                                <label class="custom-control-label" for="checkboxActive">Active</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input checkbox-dark-gray" id="checkboxDeleted" formControlName="isDeleted">
                                <label class="custom-control-label" for="checkboxDeleted">Deleted</label>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 bg-white text-center py-1">
                        <!-- <button [disabled]="!form.valid" class="btn btn-success mr-1" type="submit"><span *ngIf="!user.id">Agregar</span><span *ngIf="user.id">Actualizar</span></button>
                        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancelar</button> -->
                        <button class="btn btn-success mr-1" type="submit"><span>Agregar</span><span>Actualizar</span></button>
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</ng-template>