<div class="row mb-1">
    <div class="col">
        <div class="input-group mb-3 box-shadow">
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" [(ngModel)]="searchText" placeholder="Search user by name..." class="form-control border-0">
            <div class="input-group-append">
                <span class="agregar input-group-text border-top-0 border-right-0 border-bottom-0" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-plus"></i></span>
                <span (click)="toggle('grid')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-th"></i></span>
                <span (click)="toggle('list')" class="input-group-text border-top-0 border-right-0 border-bottom-0"><i class="fa fa-list"></i></span>
            </div>
        </div>
    </div>
</div>


<!-- listado de clientes -->

<div class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow">
            <table class="table table-hover">
                <thead>
                    <tr>

                        <th>Tip. Documento</th>
                        <th>Número</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>

                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td class="align-middle">
                            <img *ngIf="user.profile.image" class="rounded-circle" [src]="user.profile.image" width="40">
                            <img *ngIf="!user.profile.image" class="rounded-circle" src="assets/img/users/default-user.jpg" width="40">
                        </td> -->
                        <td class="align-middle text-truncate">DNI</td>
                        <td class="align-middle text-truncate">77499689</td>
                        <td class="align-middle text-truncate">dfgdfgdfgdfsg</td>
                        <td class="align-middle text-truncate">dfsgdsgdsfgdfgdf</td>
                        <td class="align-middle text-truncate">968965059</td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </div>

                    </tr>
                    <tr>

                        <td class="align-middle text-truncate">RUC</td>
                        <td class="align-middle text-truncate">10774996899</td>
                        <td class="align-middle text-truncate">Juan Carlos Martínez sdfdasfsd</td>
                        <td class="align-middle text-truncate">Av. sdfsdfsdfsd</td>
                        <td class="align-middle text-truncate">968965059</td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                        </div>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div> -->
            <div class="modal-body">
                <div class="col-12 vertical-tabs">
                    <form class="row">
                        <div class="tab-content col-12 border-0">
                            <div class="tab-pane active" id="basic">

                                <div class="row">
                                    <div class="form-group col-md-5">
                                        <label class="form-control-label text-gray">Tipo de Documento</label>
                                        <select formControlName="tipoDocumento" class="form-control">
                                            <option>DNI</option>
                                            <option>RUC</option>
                                            <option>Pasaporte</option>
                                            <option>Otro</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label class="text-gray">Número:</label>
                                        <input formControlName="numeroDocumento" class="form-control validation-field" type="number">
                                    </div>

                                    <div class="form-group col-md-2 contendor-buscar">
                                        <button class="btn btn-primary mt-2 btn-buscar">
                                             <i class="fa fa-search"></i>
                                          </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="text-gray">Nombre/Razón social</label>
                                    <input formControlName="razonSocial" class="form-control validation-field" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="text-gray">Dirección</label>
                                    <input formControlName="direccion" class="form-control validation-field" type="text">
                                </div>


                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label text-gray">Departamento</label>
                                        <select formControlName="departamento" class="form-control">
                                            <option>Texas</option>
                                            <option>California</option>
                                            <option>Florida</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label text-gray">Provincia</label>
                                        <select formControlName="provincia" class="form-control">
                                            <option>Texas</option>
                                            <option>California</option>
                                            <option>Florida</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="form-control-label text-gray">Distrito</label>
                                        <select formControlName="distrito" class="form-control">
                                            
                                            <option>Texas</option>
                                            <option>California</option>
                                            <option>Florida</option>
                                            <option>Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <input formControlName="activo" class="form-control validation-field" type="text" placeholder="activo" disabled>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <input formControlName="habido" class="form-control validation-field" type="text" placeholder="habido" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="text-gray">Correo:</label>
                                        <input formControlName="correo" class="form-control validation-field" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="text-gray">Celular:</label>
                                        <input formControlName="celular" class="form-control validation-field" type="number">
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label class="form-control-label">Nota</label>
                                    <textarea formControlName="nota" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 bg-white text-center py-1">
                            <button class="btn btn-success mr-1" type="submit"><span>Agregar</span><span>Actualizar</span></button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>


<!-- <ng-template #modalContent>

    <div class="modal-body ">
        <div class="row">
            <div class="col-12 vertical-tabs">

                <form class="row px-3">
                    <div class="tab-content col-12 border-0">
                        <div class="tab-pane active" id="basic">

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="form-control-label text-gray">Tipo de Documento</label>
                                    <select formControlName="tipoDocumento" class="form-control">
                                        <option>DNI</option>
                                        <option>RUC</option>
                                        <option>Pasaporte</option>
                                        <option>Otro</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="text-gray">Número:</label>
                                    <input formControlName="numeroDocumento" class="form-control validation-field" type="number">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="text-gray">Nombre/Razón social</label>
                                <input formControlName="razonSocial" class="form-control validation-field" type="text">
                            </div>
                            <div class="form-group">
                                <label class="text-gray">Dirección</label>
                                <input formControlName="direccion" class="form-control validation-field" type="text">
                            </div>


                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label class="form-control-label text-gray">Departamento</label>
                                    <select formControlName="departamento" class="form-control">
                                        <option>Arkansas</option>
                                        <option>Texas</option>
                                        <option>California</option>
                                        <option>Florida</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label text-gray">Provincia</label>
                                    <select formControlName="provincia" class="form-control">
                                        <option>Arkansas</option>
                                        <option>Texas</option>
                                        <option>California</option>
                                        <option>Florida</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-control-label text-gray">Distrito</label>
                                    <select formControlName="distrito" class="form-control">
                                        <option>Arkansas</option>
                                        <option>Texas</option>
                                        <option>California</option>
                                        <option>Florida</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">

                                    <input formControlName="activo" class="form-control validation-field" type="text" placeholder="activo" disabled>
                                </div>
                                <div class="form-group col-md-6">

                                    <input formControlName="habido" class="form-control validation-field" type="text" placeholder="habido" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label class="text-gray">Correo:</label>
                                    <input formControlName="correo" class="form-control validation-field" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="text-gray">Celular:</label>
                                    <input formControlName="celular" class="form-control validation-field" type="number">
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="form-control-label">Nota</label>
                                <textarea formControlName="address" class="form-control"></textarea>
                            </div>

                        </div>


                    </div>
                    <div class="col-12 bg-white text-center py-1">
                        <button class="btn btn-success mr-1" type="submit"><span>Agregar</span><span>Actualizar</span></button>
                        <button type="button" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</ng-template> -->