<!-- <div class="row contenedor-filtar-por-fecha">
    <div class="col col-md-2">
        <div class="form-group">
            <label class="text">Fecha Inicio:</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="fechaInicio" name="fechaInicio" [(ngModel)]="fechaInicio" type="date"> 
            </div>
        </div>
    </div>
    <div class="col col-md-2">
        <div class="form-group">
            <label class="text">Fecha Fin:</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="fechaFin" name="fechaFin" [(ngModel)]="fechaFin" type="date">
            </div>
        </div>
    </div>
</div> -->

<div class="row mb-1">
    <div class="col">
        <!-- <div class="input-group mb-3 box-shadow"> -->
        <div class="input-group mb-3">
            <!-- <div class="input-group-prepend contenedor-ico-buscar">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0 box-shadow"><i class="fa fa-search"></i></span>
            </div> -->
            <input type="text" [(ngModel)]="textoBusqueda" name="textoBusqueda" placeholder="Buscar por nombre de producto..." class="form-control border-0  buscador">
            <div class="input-group-append contenedor-botones-superior">
                <!-- <span class="agregar input-group-text border-top-0 border-right-0 border-bottom-0" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-plus"></i></span> -->
                
                <!-- <div class="input-group-prepend">
                    <span (mouseenter)="MensajeAgregar = true" (mouseleave)="MensajeAgregar = false" (click)="abrirModal(modalAgregar, 'lg')" class="agregar input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-plus text-primary"></i></span>
                    <div class="mensaje" *ngIf="MensajeAgregar">
                        Agregar Producto
                    </div>
                </div> -->
                <!-- <div class="input-group-prepend">
                    <span (mouseenter)="MensajeAgregar = true" (mouseleave)="MensajeAgregar = false"  class="agregar input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-plus text-primary"></i></span>
                    <div class="mensaje" *ngIf="MensajeAgregar">
                        Agregar Producto
                    </div>
                </div> -->
                <div class="input-group-prepend">
                    <span (mouseenter)="MensajeExportarExcel = true" (mouseleave)="MensajeExportarExcel = false" (click)="exportToExcels()" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-file-excel-o text-success"></i></span>
                    <div class="mensaje" *ngIf="MensajeExportarExcel">
                        Exportar Excel
                    </div>
                </div>
                <div class="input-group-prepend">
                    <span (mouseenter)="MensajeExportarPdf = true" (mouseleave)="MensajeExportarPdf = false" (click)="exportarPDF()" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-file-pdf-o text-danger"></i></span>               
                    <div class="mensaje" *ngIf="MensajeExportarPdf">
                        Exportar PDF
                    </div>
                </div>
                <!-- <div class="input-group-prepend">
                    <span (mouseenter)="MensajeVistaCuadros = true" (mouseleave)="MensajeVistaCuadros = false" (click)="toggle('grid')" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-th text-info"></i></span>                   
                    <div class="mensaje" *ngIf="MensajeVistaCuadros">
                        Vista en cuadros
                    </div>
                </div>
                              
                <div class="input-group-prepend">
                    <span (mouseenter)="MensajeVistaListas = true" (mouseleave)="MensajeVistaListas = false" (click)="toggle('list')" class="input-group-text border-top-0 border-right-0 border-bottom-0 box-shadow" style="cursor:pointer"><i class="fa fa-list"></i></span>
                    <div class="mensaje" *ngIf="MensajeVistaListas">
                      Vista en filas
                    </div>
                </div> -->
                
            </div>
        </div>
    </div>
</div>


<!-- listado de ganancias -->

<div *ngIf="type=='list'" class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow contenedor-tabla-lista">
            <table class="table table-hover">
                <colgroup>
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                    <col class="col6">
                    <col class="col7">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center align-middle">STOCK</th>
                        <th class="text-center align-middle">PRODUCTO</th>
                        <th class="text-center align-middle">P.C</th>
                        <th class="text-center align-middle">TOTAL P.C</th>
                        <th class="text-center align-middle">P.V</th>
                        <th class="text-center align-middle">TOTAL P.V</th>
                        <th class="text-center align-middle">CATEGORIA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let kar of kardexValorado | kardexValoradoBuscar: textoBusqueda  | paginate: { itemsPerPage: elementosPorPagina, currentPage: paginaActual } ; let i= index" > 
                   

                        <td class="align-middle text-truncate text-center"> {{kar.stock}}</td>
                        <td class="align-middle text-truncate text-center">{{kar.producto}}</td>
                        <td class="align-middle text-truncate text-center">{{kar.precioCompra }}</td>
                        <td class="align-middle text-truncate text-center">{{kar.totalPC}}</td>
                        <td class="align-middle text-truncate text-center">{{kar.precioVenta}}</td>
                        <td class=" align-middle text-truncate text-center">{{kar.totalPV}}</td>
                        <td class=" align-middle text-truncate text-center">{{kar.categoria}}</td>
                       <!--  <div class="btn-group text-center contenedor-general-btn-opciones" role="group">
                            
                            <div class="input-group-prepend contenedor-btn-opciones">
                                <button class="btn btn-outline-success btn-opciones dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                                <div class="dropdown-menu contenedor-opciones">
                                    <a class="dropdown-item" (click)="imprimirA4(dato)">Imprimir A4</a>
                                    <a class="dropdown-item" (click)="imprimirTicket(dato)">Ticket</a>
                                    <a class="dropdown-item" (click)="abrirEditarModal(modalEditar, i, 'lg')">Editar</a>
                                    <a class="dropdown-item" (click)="eliminarDato(i)">Eliminar</a>
                                </div>
                            </div>
                        </div> -->
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mt-3 contenedor-general-paginacion">
    <div class="col-12 contenedor-paginacion">
        <div class="bg-white text-center paginacion">
            <pagination-controls (pageChange)="cambiarPagina($event)" [maxSize]="5" [directionLinks]="true" [autoHide]="true">
            </pagination-controls>
        </div>
    </div>
</div>
