<div class="row d-flex justify-content-between">
    <div class="col col-md-2">
        <div class="form-group">
            <label class="text">Fecha Inicio:</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fechaInicio" type="date">
                <!-- <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div> -->
            </div>
        </div>
    </div>
    <div class="col col-md-2">
        <div class="form-group">
            <label class="text">Fecha Fin:</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fechaFin" type="date">
                <!-- <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div> -->
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div class="form-group">
            <label class="text"></label>
            <div class="input-group">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div class="form-group col-md-12 ">
            <label class="form-control-label text-gray ">Opciones</label>
            <select formControlName="unidadMedida " name="unidadMedida " class="form-control ">
                <option>A4</option>
                <option>ticket</option>
                <option>+IGV</option>
                <option>Logo</option>
            </select>
        </div>
    </div>
    <div class="col col-md-2">
        <div class="form-group">
            <label class="text"></label>
            <div class="input-group">
                <a href="/descargas/" download> <button class="btn btn-success btn-sm" download><i class="fa fa-file-pdf-o"></i></button></a>

            </div>
        </div>
    </div>

    <div class="col col-md-2">
        <div class="form-group">
            <label class="text"></label>
            <div class="input-group">
                <button class="btn btn-primary">Vender</button>
            </div>
        </div>
    </div>


</div>
<div class="row mb-1">
    <div class="col">
        <div class="input-group mb-3 box-shadow">
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" placeholder="Buscar..." class="form-control border-0">
            <div class="input-group-append">
                <span class="agregar input-group-text border-top-0 border-right-0 border-bottom-0" style="cursor:pointer" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user-plus"></i></span>
                <span class="input-group-text border-top-0 border-right-0 border-bottom-0 " style="cursor:pointer"><i class="fa fa-arrow-down"></i></span>
                <span class="input-group-text border-top-0 border-right-0 border-bottom-0 " style="cursor:pointer"><i class="fa fa-arrow-up"></i></span>

            </div>
        </div>
    </div>
</div>



<!-- listado  -->

<div class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow">
            <table class="table table-hover">
                <colgroup>
                    <col class="col1">
                    <col class="col2">
                    <col class="col3">
                    <col class="col4">
                    <col class="col5">
                    <col class="col6">
                    <col class="col7">
                </colgroup>
                <thead>
                    <tr>

                        <th class="text-center">FECHA</th>
                        <th class="text-center">SERIE</th>
                        <th class="text-center">NUMERO</th>
                        <th class="text-center">RUC</th>
                        <th class="text-center">CLIENTE</th>
                        <th class="text-center">TOTAL</th>
                        <th class="text-center"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td class="align-middle">
                            <img *ngIf="user.profile.image" class="rounded-circle" [src]="user.profile.image" width="40">
                            <img *ngIf="!user.profile.image" class="rounded-circle" src="assets/img/users/default-user.jpg" width="40">
                        </td> -->
                        <td class="align-middle text-center">11/05/2023</td>
                        <td class="align-middle text-center">F001</td>
                        <td class="align-middle text-center">250</td>
                        <td class="align-middle text-center">12345678912</td>
                        <td class="align-middle">GRAN MANAGER TECHNOLOGY CONSULTING SOCIEDAD ANONIMA - GRAMATEC S.A. </td>
                        <td class="align-middle text-center ">1500.50</td>
                        <td class="align-middle text-center ">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="imprimir" id="A4" value="A4">

                            </div>
                            <!-- <a href="/descargas/" download> <button class="btn btn-success btn-sm" download><i class="fa fa-file-pdf-o"></i></button></a> -->
                        </td>
                        <!-- <div class="btn-group " role="group ">

                            <button class="btn btn-warning btn-sm "><i class="fa fa-pencil "></i></button>
                            <button class="btn btn-danger btn-sm "><i class="fa fa-trash "></i></button>
                        </div> -->



                    </tr>
                    <tr>

                        <td class="align-middle text-center">11/05/2023</td>
                        <td class="align-middle text-center">B001</td>
                        <td class="align-middle text-center">1250</td>
                        <td class="align-middle text-center">12345678</td>
                        <td class="align-middle ">Lorem ipsum dolor sit amet consectetur adipis</td>
                        <td class="align-middle text-center ">11500.50</td>
                        <td class="align-middle text-center ">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="imprimir" id="A4" value="A4">

                            </div>

                            <!-- <a href="/descargas/" download> <button class="btn btn-success btn-sm" download><i class="fa fa-file-pdf-o"></i></button></a> -->
                        </td>
                        <!-- <div class="btn-group" role="group ">
                            <button class="btn btn-warning btn-sm  "><i class="fa fa-pencil "></i></button>
                            <button class="btn btn-danger btn-sm "><i class="fa fa-trash "></i></button>
                        </div> -->



                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<!-- Modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">

                <div class="row">
                    <div class="form-group col-md-2 ">
                        <label class="text-gray ">Cantidad</label>
                        <input name="codigoTributo " class="form-control validation-field " type="number " [(ngModel)]="cantidadProductoModal">
                    </div>
                    <div class="form-group col-md-3 ">
                        <label class="text-gray mr-1">Código de barras</label> <input type="checkbox" aria-label="Checkbox for following text input">
                        <input name="codigoTributo " class="form-control validation-field " type="text ">

                    </div>

                    <div class="form-group col-md-7 ">
                        <label for=""></label>
                        <input type="text" class="form-control" #nombreProductoInput [(ngModel)]="terminoBusqueda" (input)="filtrarProductos()" (focus)="mostrarListaProductos = true" (blur)="clearFilter()" placeholder=" Buscar producto ">
                        <div class="lista" *ngIf="productosFiltrados.length> 0">
                            <ul>
                                <li *ngFor="let producto of productosFiltrados">
                                    {{ producto.nombre }} - Precio: ${{ producto.precio }}
                                    <button (click)="agregarProducto(producto)" class="btn btn-primary btn-sm "><i class="fa fa-check-square"></i></button>
                                </li>
                            </ul>
                        </div>
                        <!--  ========================================== -->

                    </div>
                </div>

                <div class="row contenedor-tabla">
                    <div class="col-12 ">
                        <div class="table-responsive bg-white ">
                            <table class="table table-hover ">
                                <colgroup>
                                    <col class="col11">
                                    <col class="col12">
                                    <col class="col13">
                                    <col class="col14">
                                    <col class="col15">

                                </colgroup>
                                <thead class="thead-dark ">
                                    <tr>
                                        <th class="align-middle text-center">CANTIDAD</th>
                                        <th class="align-middle text-center">DESCRIPCION</th>
                                        <th class="align-middle text-center">PREC. UNIT</th>

                                        <th class="align-middle text-center">TOTAL</th>
                                        <th class="align-middle text-center">ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="fila-producto" *ngFor="let producto of productosSeleccionados; let i = index">
                                        <td width="50px">
                                            <div class="input-group">
                                                <input type="number" class="form-control" [(ngModel)]="cantidadProductoModal" (ngModelChange)="modelChanged($event, i)">
                                            </div>
                                        </td>

                                        <td>{{ producto.nombre }}</td>

                                        <td width="50px">
                                            <div class="input-group">
                                                <input type="number" class="form-control" [value]="producto.precio">
                                            </div>
                                        </td>

                                        <td> </td>
                                        <td><button class="btn btn-danger btn-sm " (click)="eliminarProducto(producto)"><i class="fa fa-trash "></i></button></td>
                                    </tr>

                                    <tr>
                                        <td> </td>
                                        <td> </td>
                                        <td> </td>
                                        <td class="align-middle text-center"> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col col-md-9 ">
                        <div class="row ">
                            <div class="form-group col-md-8 ">
                                <label class="text-gray ">Nombre / Razón Social</label>
                                <input name="nombreRazonSocial " class="form-control validation-field " type="text ">
                            </div>
                            <div class="form-group col-md-4 ">
                                <label class="text-gray ">DNI/RUC</label>
                                <input name="dniRuc " class="form-control validation-field " type="number ">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-12 ">
                                <input formControlName="codigoProducto " name="codigoProducto " class="form-control validation-field " type="text ">
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-12 ">

                                <input formControlName="codigoProducto " name="codigoProducto " class="form-control validation-field " type="text ">
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-3 ">
                        <div class="row ">
                            <div class="form-group col-md-12 ">
                                <label class="form-control-label text-gray ">Forma de pago</label>
                                <select formControlName="unidadMedida " name="unidadMedida " class="form-control ">
                                <option>Contado</option>
                                <option>Crédito</option>
                                <option>Yape</option>
                                <option>Plin</option>
                                <option>Tarjeta</option>
                            </select>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-12 ">
                                <label class="form-control-label text-gray ">Tipo moneda</label>
                                <select formControlName="unidadMedida " name="unidadMedida " class="form-control ">
                                <option>soles</option>
                                <option>dolares</option>
                                
                            </select>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="form-group col-md-12 ">
                                <label class="form-control-label text-gray ">Tiempo de entrega</label>
                                <select formControlName="unidadMedida " name="unidadMedida " class="form-control ">
                                <option>1 Día</option>
                                <option>7 Días</option>
                                <option>15 Días</option>
                                
                            </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 bg-white text-center py-1 ">
                        <button class="btn btn-success mr-1 " type="submit "><span>Agregar</span><span>Actualizar</span></button>
                        <button type="button " class="btn btn-danger " data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade " id="exampleModal" tabindex="-1 " aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog modal-lg ">
        <div class="modal-content border-0 ">

            <div class="modal-body ">
                <div class="col-12 ">
                    <form class="row ">
                        <div class="tab-content col-12 border-0 ">

                            <div class="tab-content border-0 " id="pills-tabContent ">

                                
                                <div class="tab-pane fade show active " id="detalleProducto " role="tabpanel " aria-labelledby="pills-home-tab ">
                                    <div class="row ">
                                        <div class="form-group col-md-2 ">
                                            <label class="text-gray ">Cantidad</label>
                                            <input formControlName="codigoTributo " name="codigoTributo " class="form-control validation-field " type="number ">
                                        </div>
                                        <div class="form-group col-md-3 ">
                                            <label class="text-gray mr-1">Código de barras</label> <input type="checkbox" aria-label="Checkbox for following text input">
                                            <input formControlName="codigoTributo " name="codigoTributo " class="form-control validation-field " type="text ">

                                        </div>

                                        <div class="form-group col-md-7 ">
                                            <label class="text-gray ">Producto</label>
                                            <input formControlName="codigoTributo " name="codigoTributo " class="form-control validation-field " type="text ">

                                        </div>

                                        <div class="row ">
                                            <div class="col-12 ">
                                                <div class="table-responsive bg-white ">
                                                    <table class="table table-hover ">
                                                        <colgroup>
                                                            <col class="col11">
                                                            <col class="col12">
                                                            <col class="col13">
                                                            <col class="col14">
                                                            <col class="col15">

                                                        </colgroup>
                                                        <thead class="thead-dark ">
                                                            <tr>
                                                                <th>CANTIDAD</th>
                                                                <th>DESCRIPCION</th>
                                                                <th>PREC. UNIT</th>

                                                                <th>TOTAL</th>
                                                                <th>ACCIONES</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        </tbody>
                                                    </table>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col col-md-9 ">
                                                <div class="row ">
                                                    <div class="form-group col-md-8 ">
                                                        <label class="text-gray ">Nombre / Razón Social</label>
                                                        <input name="nombreRazonSocial " class="form-control validation-field " type="text ">
                                                    </div>
                                                    <div class="form-group col-md-4 ">
                                                        <label class="text-gray ">DNI/RUC</label>
                                                        <input name="dniRuc " class="form-control validation-field " type="number ">
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="form-group col-md-12 ">
                                                        <input formControlName="codigoProducto " name="codigoProducto " class="form-control validation-field " type="text ">
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="form-group col-md-12 ">

                                                        <input formControlName="codigoProducto " name="codigoProducto " class="form-control validation-field " type="text ">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col col-md-3 ">
                                                <div class="row ">
                                                    <div class="form-group col-md-12 ">
                                                        <label class="form-control-label text-gray ">Forma de pago</label>
                                                        <select formControlName="unidadMedida " name="unidadMedida " class="form-control ">
                                                        <option>Contado</option>
                                                        <option>Crédito</option>
                                                        <option>Yape</option>
                                                        <option>Plin</option>
                                                        <option>Tarjeta</option>
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="form-group col-md-12 ">
                                                        <label class="form-control-label text-gray ">Tipo moneda</label>
                                                        <select formControlName="unidadMedida " name="unidadMedida " class="form-control ">
                                                        <option>soles</option>
                                                        <option>dolares</option>
                                                        
                                                    </select>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="form-group col-md-12 ">
                                                        <label class="form-control-label text-gray ">Tiempo de entrega</label>
                                                        <select formControlName="unidadMedida " name="unidadMedida " class="form-control ">
                                                        <option>1 Día</option>
                                                        <option>7 Días</option>
                                                        <option>15 Días</option>
                                                        
                                                    </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 bg-white text-center py-1 ">
                                <button class="btn btn-success mr-1 " type="submit "><span>Agregar</span><span>Actualizar</span></button>
                                <button type="button " class="btn btn-danger " data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div> -->