table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

col.col1 {
    width: 13%;
}

col.col2 {
    width: 8%;
}

col.col3 {
    width: 10%;
}

col.col4 {
    width: 15%;
}

col.col5 {
    width: 35%;
}

col.col6 {
    width: 10%;
}

col.col7 {
    width: 10%;
}


/* estilos de la tabla modal */

col.col11 {
    width: 15%;
}

col.col12 {
    width: 45%;
}

col.col13 {
    width: 15%;
}

col.col14 {
    width: 10%;
}

col.col15 {
    width: 15%;
}

ul {
    list-style: none;
    z-index: 100;
    position: absolute;
    background: rgba($color: #000, $alpha: .8);
    width: 90%;
    padding: 15px;
    border-radius: 15px;
    height: 200px;
    overflow: auto;
    li {
        color: #fff;
    }
}


/* estilos del contenedor de tabla */

.contenedor-tabla {
    position: relative;
}