table {
    width: 100%;
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

col.col1 {
    width: 13%;
}

col.col2 {
    width: 8%;
}

col.col3 {
    width: 10%;
}

col.col4 {
    width: 15%;
}

col.col5 {
    width: 35%;
}

col.col6 {
    width: 10%;
}

col.col7 {
    width: 10%;
}